<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nested inside</title>

    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <!-- CSS selectors.. -->
    <div class="box-nest">
        <h1>Title</h1>
        <p>selectors text</p>
    </div>

    <!-- Mixins.. -->
    <div class="nest-mixin">
        <h1>Title</h1>
        <p>Mixins text</p>
    </div>

    <!-- Variables -->
    <div class="nest-variables">
        <h1>Title</h1>
        <p>nest-variables</p>
    </div>
</body>

</html>

<!-- Nesting in Sass allows you to nest styles inside other styles, making it easier to write and read styles that apply to specific HTML elements. -->