<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>operators</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <!--examples of  Arithmetic Operators: -->
    <div class="aritmetic">+</div>

    <!--examples of  Comparison Operators: -->
    <div class="comparison">==</div>

    <!--examples of  Logical Operators: -->
    <div class="logical">and or not</div>

    <!--examples of String Operators: -->
    <h1>This is a heading</h1>


    <!--examples of List  Operators: -->
    <div class="bg-#f00">Red background</div>
    <div class="bg-#0f0">Green background</div>
    <div class="bg-#00f">Blue background</div>

    <!--examples of maps() Operators: -->
    <div class="font-small">Small font size</div>
    <div class="font-medium">Medium font size</div>
    <div class="font-large">Large font size</div>

    <!--examples of Interpolation #{} Operators: -->
    <button class="bttn bttn-primary">Click me</button>

    <!--examples of Logical Operators: -->
    <button class="btns btn-sm">Small button</button>
    <button class="btnl btn-lg">Large button</button>

    <!--examples of Comparison Operators: -->
    <h1>This is a heading</h1>
    <h6>This is a smaller heading</h6>










</body>

</html>