<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <div class="my-class">
        <p>This is some text.</p>
    </div>

    <div class="my-box"></div>


</body>

</html>

<!-- he @content directive is a special Sass feature that allows the content of a mixin to be dynamically inserted into a specific location in the output CSS.

When you define a mixin in Sass, you can include the @content directive inside the mixin. When the mixin is called in your code, any content that is passed to the mixin will be inserted into the location where the @content directive appears -->