<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documen of the conditiont</title>
    <link rel="stylesheet" href="../styles.css">
    <!--  Whether = দুইয়ের মধ্যে কোনট -->
</head>

<body>
    <!--  basic syntax of an "if" statement in Sass -->
    <!-- @if condition {code to execute if the condition is true} -->


    <!-- "else" statement to "if" statement -->
    <!-- @if condition {code to execute if the condition is true}
         @else {code to execute if the condition is false} -->


    <!--@if "if" multiple conditions, and execute different code based on each condition -->
    <!-- @if condition1 {code to execute if condition1 is true} 
        @else if condition2 {code to execute if condition2 is true} 
        @else {code to execute if both condition1 and condition2 are false} -->



    <!-- "not" function negates = অকার্যকর করা a boolean expression -->
    <!-- @if not condition {code to execute if condition is false} -->



    <!-- "and" operator combines two or more boolean expressions -->
    <!-- @if condition1 and condition2 {code to execute if both condition1 and condition2 are true}-->



    <!-- "or" operator combines two or more boolean expressions -->
    <!-- "or" operator is used to check if at least one of two values or expressions is true -->
    <!-- @if condition1 or condition2 {code to execute if either condition1 or condition2 is true}-->



    <!-- "==" operator checks whether two values are equal -->
    <!-- @if value1 == value2 {code to execute if value1 and value2 are equal}-->



    <!-- "!=" operator checks whether two values are not equal -->
    <!-- @if value1 != value2 {code to execute if value1 and value2 are not equal}-->



    <!-- ">" operator checks whether one value is greater than another value -->
    <!-- @if value1 > value2 {code to execute if value1 is greater than value2}-->


    <!-- "<" operator checks whether one value is less than another value. -->
    <!--@if value1 < value2 {code to execute if value1 is less than value2}-->



    <!-- ">=" operator checks whether one value is greater than or equal to another value. -->
    <!-- @if value1 >= value2 {code to execute if value1 is greater than or equal to value2}-->



    <!-- "<=" operator checks whether one value is less than or equal to another value -->
    <!-- @if value1 <= value2 {code to execute if value1 is less than or equal to value2}-->


    <!-- @if, statement -->
    <div class="body"></div>

    <!-- @if @else, statement -->
    <div class="body-1"></div>

    <!-- not function -->
    <div class="container">
        <p class="message">Hello, world!</p>
        <p class="warning">warning message.</p>
    </div>

    <!-- Using "and" operator -->
    <div class="body-3">And Bangladesh</div>

    <!-- "==" operator -->
    <div class="body-4"><h1>"==" operator</h1></div>

    <!-- <= operator is used to check if the value -->
    <div class="box-5"><= operator</div>

    <!-- ">=" operator -->
    <div class="box-6">>=operator</div>

    <!-- Sass, the "<" operator -->
    <div class="box-7">< operator</div>

    <!-- "!=" operator -->
    <div class="box-8">!=operator</div>

    <!-- "or" operator -->
    <div class="box-9">OR</div>

    <!-- ! Mini Project If conditon -->
    <div class="card-2">
        <h2>Title condition</h2>
        <p> Here's an example of how to create a card using Sass </p>
    </div>
    
</body>

</html>

<!-- @if <condition> {
  // code to execute if the first condition is true
}
@else if <condition> {
  // code to execute if the second condition is true
}
@else {
  // code to execute if all conditions are false
}
 -->