<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document of loop condition </title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <!-- @for loop is used to iterate over a range of values. specific number of times -->
    <!-- @each loop is used to iterate over a list or a map. -->
    <!-- @while loop is used to execute code while a condition is true. -->

    <!-- @for loop: -->
    <ul class="list">
        <li class="item-1">Item 1</li>
        <li class="item-2">Item 2</li>
        <li class="item-3">Item 3</li>
        <li class="item-4">Item 4</li>
        <li class="item-5">Item 5</li>
    </ul>

    <!-- @while loop: @while [condition] {code to execute while the condition is true}
-->
    <!-- The @while loop in Sass is useful when you need to repeat a block of code based on a condition that can be evaluated dynamically during compilation.  -->
    <div class="boxs-1"></div>
    <div class="boxs-2"></div>


    <!-- @each loop -->
    <!-- @each loop: A loop that iterates over a list or a map and assigns each item to a variable. -->


    <div class="red">red</div>
    <div class="lime">lime</div>
    <div class="green">green</div>

    <!-- @each loop  exam 1 -->
    <h1 class="large">This text is large.</h1>
    <p class="medium">This text is medium.</p>
    <ul>
        <li class="small">This list item is small.</li>
        <li>This list item has no size.</li>
    </ul>


    <!-- map -->
    <div class="div">
        <h1>Example Heading</h1>
        <p>This is an example paragraph.</p>
    </div>

</body>

</html>