<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sass Variables</title>

    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <!-- 1\ Using a variable: -->
    <div class="var">
        <p class="exam-1">Using a variable:</p>
    </div>


    <!-- 2\ Variable interpolation: -->
    <div class="polation">
        <p class="inter">Variable interpolation:</p>
    </div>

    <!-- 3\  Lists:start-Variable  -->

    <div class="box">Lists.nth()</div>

    <!-- example of using Sass lists with HTML and CSS -->
    <div class="card">
        <h2 class="card__title">Sass Color</h2>
        <ul class="card__list">
            <li class="card__item">Primary: <span class="primary-color"></span></li>
            <li class="card__item">Secondary: <span class="secondary-color"></span></li>
            <li class="card__item">Tertiary: <span class="tertiary-color"></span></li>

        </ul>
    </div>
    <ul>
        <li class="col-red">Red</li>
        <li class="col-green">Green</li>
        <li class="color-blue">Blue</li>
    </ul>
      
    <!-- Maps -->

    <button>Maps</button>

    <!-- Global variables -->

    <div class="global">Global variables</div>

    <!-- sass Variable scoping -->

    <div class="parent">
        <h3>Hello, world!</h3>
        <div class="child">
          <p>This is a box.</p>
        </div>
    </div>


</body>

</html>